/* Module 2 Assignment */

/********** Base styles **********/
* {
	box-sizing: border-box;
}

h1{
	text-align: center;
}

.row {
  width: 100%;
  position: absolute;
}

.header {
  border: 2px solid black;
  font-family: Helvetica;
  padding: 4px;
  text-align: center;
  width: 150px;
  position: absolute;
  top: -2px;
  right: -2px;
}

.chicken {
	background-color: #FA8072;
	
}
.beef {
	background-color: #B22222;
	color: White;
}
.sushi {
	background-color: #D2B48C;
}


p {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 35px;
}
/********** Desktop View **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    background-color: #808080;
  	padding: 8px;
  	border: 2px solid black;
  	position: relative;
  	margin: 2px;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    background-color: #808080;
  	padding: 8px;
  	border: 2px solid black;
  	position: relative;
  	margin: 2px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
 }
}
/********** Mobile View **********/
@media (max-width: 767px) {
 .col-sm-12 {
    float: left;
    background-color: #808080;
  	padding: 8px;
  	border: 2px solid black;
  	margin: 2px;
  	position: relative;
  }
  .col-sm-12 {
    width: 100%;
  }
 }